 <!-- Background Video-->
<video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"><source src="videos/bg.mp4" type="video/mp4" /></video>
<!-- Masthead-->
<div class="masthead">
    <div class="masthead-content text-white">
        <div class="container-fluid px-4 px-lg-0">
            <h1 class="fst-italic lh-1 mb-4">Usuário ainda não aprovado!</h1>
            <p class="mb-5">Seu acesso ao sistema ainda não foi aprovado. Por Favor, aguarde ou clique no botão abaixo para abrir um chamado.</p>
            <button type="button" class="btn btn-primary">Abrir Chamado</button>
        </div>
    </div>
</div>