<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Usuário</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  {{{body}}}

  <footer>
    <p>Este é um site de estudos criado por Gabriel G. <a href="">Clique aqui</a> para ver o portfólio completo.</p>
  </footer>
</body>
</html>