<div class="container">
    <h1>Olá! Faça o Login:</h1>

    <form action="/users/login" method="post">
        <div class="form-control">
            <label for="userCode">Código de Usuário:</label>
            <input type="text" name="userCode" placeholder="Digite o código">
        </div>

        <div class="form-control">
            <label for="password">Senha:</label>
            <input type="password" name="password" placeholder="Digite a senha">
        </div>
        <input type="submit" value="Login">
    </form>

    <p>Não possui cadastro? <a href="/users/add">Registre-se</a></p>
</div>
