/* Estilos para o contêiner principal da página */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    height: 100vh; /* 100% da altura da janela */
}

/* Estilos para o título "Crie seu usuário:" */
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para o formulário */
form {
    max-width: 400px;
    margin: 0 auto;
}

/* Estilos para os campos de entrada e rótulos */
.form-control {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para o botão de envio */
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilo para o footer */
footer {
    height: 25px;
    background-color: #007BFF;
    text-align: center;
    color: #fff;
}

a {
    color: #333;
    text-decoration: none;
}