<div class="container">
    <h1>Crie seu usuário:</h1>

    <form action="/users/add" method="post">
        <div class="form-control">
            <label for="name">Nome:</label>
            <input type="text" name="name" placeholder="Digite o seu nome">
        </div>

        <div class="form-control">
            <label for="lastName">Sobrenome:</label>
            <input type="text" name="lastName" placeholder="Digite o seu sobrenome">
        </div>

        <div class="form-control">
            <label for="password">Senha:</label>
            <input type="password" name="password" placeholder="Digite a senha">
        </div>
        <input type="submit" value="Cadastrar">
    </form>
</div>